.form__input{
    box-sizing: border-box;
    width: 360px;
    height: 45px;
    padding: 0;
    border-radius: 5px;
    border: none;
    color: #c5bebe;
    font-size: 18px;
    line-height: 21px;
    font-weight: 300;
    padding-left: 10px;
}

@media (max-width: 520px){
    .form__input{
        width: 295px;
    }
}