.answers__cell{
    margin-top: 35px;
}

.answers__cell:first-child{
    margin-top: 0;
}

@media (max-width: 500px){
    .answers__cell{
        margin-top: 40px;
    }
    .answers__cell:first-child{
        margin-top: 0;
    }
}