.popup__close-icon{
    position: absolute;
    background-image: url(../../../images/CloseIcon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    width: 25px;
    height: 25px;
    right: -30px;
    top: -30px;
}

@media (max-width: 768px){
    .popup__close-icon{
        width: 15px;
        height: 15px;
        top: -32px;
        right: 0;
    }
}