.footer__cell{
    margin-top: 35px;
}

.footer__cell:first-child{
    margin-top: 0;
}

@media (max-width: 500px){
    .footer__cell{
        margin-top: 40px;
    }
    .footer__cell:first-child{
        margin-top: 0;
    }
}